* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif; 
    background-color: hsl(0, 0%, 98%);  
}

.image {
    width: 1440px;
    height: 35vh;
    background-image: url(images/bg-desktop-light.jpg);
    margin: 0 auto;
}

.container {
    max-width:500px ;
    margin: 0 auto;
    margin-top: -300px;   
    
}

.container-img {
    width: 1440px;
    display: block;
    margin:0 auto;
}
.content {
    margin: 100px auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header img {
    width: 26px;
    height: 26px;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 15px;
    color: white;
}

.input-box {
    margin: 20px 0;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    
}


.input-box>p {
    border: 2px solid lightgray;
    width: 23px;
    border-radius: 50%;
    margin: 0 5px;
}

#input-box {
    width:100% ;
    font-size: 1em;
    font-weight: 400;
    color: black;
    border: none;
    outline: none;
    background-color: white;
    padding-left: 1em;
}

#input-box::placeholder {
    font-size: 16px;
}

.tasks {
    width: 100%;
    background-color: white;
    box-shadow: -1px 1px 5px #8888;
    
}
.tasks ul li {
    list-style: none;
    border-bottom: 1px solid lightgray;
    min-height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.tasks ul li:hover {
    background-color: lightblue;
    
}

.tasks ul li

#checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 20px;
    

}
.check-svg {
    margin: 5px;
    font-size: 11px;
}
#checkbox:hover {
    background:linear-gradient(hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));
}
.tasks ul li span {
    color:hsl(235, 19%, 35%) ;
}


.items {
    color:  hsl(235, 19%, 35%);
}

.flex {
    display: flex;
    align-items: center;
}


    /***********
    footer
    *******/

.flex-foot {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.footer {
    background-color: white;
   
    font-weight: 500;
    min-height: 60px;
    align-items: center;
    padding: 10px;
    color: lightgray;
}
.center-footer {
    text-transform: capitalize;
    gap: 15px;
}
.footer p a {
    text-decoration: none;
    color: gray;
}

.footer p a:hover {
    color:hsl(235, 19%, 35%) ;
    cursor: pointer;
    font-weight: 600;
}





